.buttonBox {
  width: 40%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1px;
}

button:nth-child(4n+0) {
  background-color: rgb(238, 151, 20);
}

.display {
  color: white;
  display: flex;
  background-color: rgb(150, 150, 150);
  justify-content: end;
  width: 40%;
}

button {
  border: none;
  background-color: rgb(185, 185, 185);
  height: 40px;
  font-size: 15px;
  color: rgb(17, 16, 16);
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
button:hover {
  background-color: rgb(61, 43, 184);
}

.equals {
  grid-column: 3 / 5;
  background-color: rgb(238, 151, 20);
}

.equals:hover {
  background-color: rgb(228, 39, 15);
}
